In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("titanic")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
from sklearn.model_selection import  KFold, RepeatedKFold,  train_test_split,cross_val_score
from sklearn.metrics import accuracy_score

from sklearn.ensemble import RandomForestClassifier

**Scikit learn random forest only takes numbers as input,
types need to be converted into numbers somehow.**

In [4]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

**1.) Boolean can be converted to 0 and 1 automaticaly**

In [5]:
df['adult_male'].head()

0     True
1    False
2    False
3    False
4     True
Name: adult_male, dtype: bool

This can not handle NULL values

In [16]:
df['adult_male'].astype(int).head()

0    1
1    0
2    0
3    0
4    1
Name: adult_male, dtype: int64

While this can hangle NULL values

In [20]:
df['adult_male'].astype('Int64').head()

0    1
1    0
2    0
3    0
4    1
Name: adult_male, dtype: Int64

In [23]:
df_temp = pd.DataFrame({'alive': [True, False, None, True]})
df_temp['alive_mapped'] = df_temp['alive'].astype('Int64')
df_temp['alive_mapped']

0       1
1       0
2    <NA>
3       1
Name: alive_mapped, dtype: Int64

**2.) Labeled data that is boolean in nature is coverted via dictionary mapping**

In [7]:
df['alive'].head()

0     no
1    yes
2    yes
3    yes
4     no
Name: alive, dtype: object

In [8]:
df['alive'].map({'yes': 1, 'no': 0}).head()

0    0
1    1
2    1
3    1
4    0
Name: alive, dtype: int64

This operation leaves NaN values as is

In [10]:
df_temp = pd.DataFrame({'alive': ['yes', 'no', None, 'yes']})
df_temp['alive_mapped'] = df_temp['alive'].map({'yes': 1, 'no': 0})
df_temp['alive_mapped']

0    1.0
1    0.0
2    NaN
3    1.0
Name: alive_mapped, dtype: float64

**3.) Nominal categorical vairables, have no inherent order or ranking. These can be converted via get_dummies,
that creates boolean variable, that show whether something is present or no**

In [10]:
df['embark_town'].unique()

array(['Southampton', 'Cherbourg', 'Queenstown', nan], dtype=object)

pandas.get_dummies():

drops the original categorical columns and replaces them by the new dummy indicator columns.

In [11]:
pd.get_dummies(df, columns=['who', 'embarked', 'embark_town'] ).dtypes

survived                      int64
pclass                        int64
sex                          object
age                         float64
sibsp                         int64
parch                         int64
fare                        float64
class                      category
adult_male                     bool
deck                       category
alive                        object
alone                          bool
who_child                      bool
who_man                        bool
who_woman                      bool
embarked_C                     bool
embarked_Q                     bool
embarked_S                     bool
embark_town_Cherbourg          bool
embark_town_Queenstown         bool
embark_town_Southampton        bool
dtype: object

Parameter, dummy_na, specifies how Nan columns are handled, False by default, columns, then NaN will have all columns set as 0.

In [12]:
df_test = pd.DataFrame({'color': ['red', 'blue', None]})
pd.get_dummies(df_test['color'], dummy_na=False)

    blue    red
0  False   True
1   True  False
2  False  False

In [13]:
df_test = pd.DataFrame({'color': ['red', 'blue', None]})
pd.get_dummies(df_test['color'], dummy_na=True)

    blue    red    NaN
0  False   True  False
1   True  False  False
2  False  False   True

In [14]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

**4.) Ordinal categorical vairables, are variables,
that have - natural order or ranking, but without fixed numeric distances. These can be converted via get_dummies,
this creates boolean variable, based on presence of certain values**

In [15]:
pd.get_dummies(df, columns=['who','embarked', 'embark_town']).head()

,survived,pclass,sex,age,sibsp,parch,fare,class,adult_male,deck,...,alone,who_child,who_man,who_woman,embarked_C,embarked_Q,embarked_S,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,0,3,male,22.0,1,0,7.2500,Third,True,NaN,...,False,False,True,False,False,False,True,False,False,True
1,1,1,female,38.0,1,0,71.2833,First,False,C,...,False,False,False,True,True,False,False,True,False,False
2,1,3,female,26.0,0,0,7.9250,Third,False,NaN,...,True,False,False,True,False,False,True,False,False,True
3,1,1,female,35.0,1,0,53.1000,First,False,C,...,False,False,False,True,False,False,True,False,False,True
4,0,3,male,35.0,0,0,8.0500,Third,True,NaN,...,True,False,True,False,False,False,True,False,False,True

# Random forest

What is needed for preprocesing and how to train and validate on random forest classifier.

In [17]:
df = sns.load_dataset("titanic")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [18]:
df = sns.load_dataset("titanic")

bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

df = pd.get_dummies(df, columns= ['deck', 'sex', 'embarked', 'who', 'embark_town'])

df['alive'] = df['alive'].map({'yes': 1, 'no': 0})
df['class'] = df['class'].map({'First': 1, 'Second': 2, 'Third': 3})

Random forest needs to work on non null columnns

In [26]:
columns_only_null = df.columns[df.isnull().sum()  > 0]
columns_only_null

Index(['age'], dtype='object')

In [30]:
df['age'] = df['age'].fillna(df['age'].mean())

In [32]:
df

,survived,pclass,age,sibsp,parch,fare,class,adult_male,alive,alone,...,sex_male,embarked_C,embarked_Q,embarked_S,who_child,who_man,who_woman,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,0,3,22.000000,1,0,7.2500,3,1,0,0,...,True,False,False,True,False,True,False,False,False,True
1,1,1,38.000000,1,0,71.2833,1,0,1,0,...,False,True,False,False,False,False,True,True,False,False
2,1,3,26.000000,0,0,7.9250,3,0,1,1,...,False,False,False,True,False,False,True,False,False,True
3,1,1,35.000000,1,0,53.1000,1,0,1,0,...,False,False,False,True,False,False,True,False,False,True
4,0,3,35.000000,0,0,8.0500,3,1,0,1,...,True,False,False,True,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.000000,0,0,13.0000,2,1,0,1,...,True,False,False,True,False,True,False,False,False,True
887,1,1,19.000000,0,0,30.0000,1,0,1,1,...,False,False,False,True,False,False,True,False,False,True
888,0,3,29.699118,1,2,23.4500,3,0,0,0,...,False,False,False,True,False,False,True,False,False,True
889,1,1,26.000000,0,0,30.0000,1,1,1,1,...,True,True,False,False,False,True,False,True,False,False
890,0,3,32.000000,0,0,7.7500,3,1,0,1,...,True,False,True,False,False,True,False,False,True,False

In [33]:
X = df.drop("survived", axis=1)
y = df["survived"]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)

In [40]:
accuracy_score(clf.predict(X_test), y_test)

0.9776536312849162

**K-Fold Cross-Validation**

Split dataset into k folds;
train on k-1 folds,
validate on the remaining; repeat k times

In [43]:

# K-Fold CV (5 folds)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_val_score(clf, X, y, cv=kf)

print("K-Fold scores:", scores)
print("Mean accuracy:", scores.mean())

K-Fold scores: [0.97765363 0.98876404 0.97752809 0.9494382  0.97191011]
Mean accuracy: 0.9730588161446236

**RepeatedKFold Cross-Validation**

In [45]:

# Repeated K-Fold (5 folds, 3 repeats)
rkf = RepeatedKFold(n_splits=5, n_repeats=3, random_state=42)
scores = cross_val_score(clf, X, y, cv=rkf)

print("Repeated K-Fold scores:", scores)
print("Mean accuracy:", scores.mean())

Repeated K-Fold scores: [0.97765363 0.98876404 0.97752809 0.9494382  0.97191011 0.94413408
 0.95505618 0.95505618 0.96629213 0.94382022 0.99441341 0.96629213
 0.96629213 0.95505618 0.95505618]
Mean accuracy: 0.9644508610047497

**Out-of-Bag (OOB) Validation**

Random Forest bootstrap sampling leaves ~1/3 of data unused per tree; these OOB samples act as validation. This is built in random forest, requires no additional data.

In [46]:
clf_oob = RandomForestClassifier(oob_score=True, random_state=42)
clf_oob.fit(X, y)

print("OOB score:", clf_oob.oob_score_)

OOB score: 1.0

# Gradient boosting implementations

â€¢ 	If you want maximum performance and flexibility â†’ go with XGBoost.Â¸

â€¢ 	If you need speed on massive datasets â†’ choose LightGBM.

â€¢ 	If your data has lots of categorical variables â†’ CatBoost is the best fit

**XGBoost**

In [ ]:
import xgboost as xgb

In [ ]:
xgb_model = xgb.XGBClassifier(use_label_encoder=False, eval_metric="logloss")
xgb_model.fit(X_train, y_train)
xgb_preds = xgb_model.predict(X_test)
print("XGBoost Accuracy:", accuracy_score(y_test, xgb_preds))

ValueError: DataFrame.dtypes for data must be int, float, bool or category. When categorical type is supplied, the experimental DMatrix parameter`enable_categorical` must be set to `True`.  Invalid columns:sex: object, embarked: object, class: category, who: object, deck: category, embark_town: object, alive: object


**LightGBM**

In [ ]:
import lightgbm as lgb

In [ ]:
lgb_model = lgb.LGBMClassifier()
lgb_model.fit(X_train, y_train)
lgb_preds = lgb_model.predict(X_test)
print("LightGBM Accuracy:", accuracy_score(y_test, lgb_preds))

ValueError: pandas dtypes must be int, float or bool.
Fields with bad pandas dtypes: sex: object, embarked: object, who: object, embark_town: object, alive: object

**CatBoost**

In [ ]:
!pip install catboost

In [ ]:
from catboost import CatBoostClassifier

In [ ]:
cat_model = CatBoostClassifier(verbose=0)
cat_model.fit(X_train, y_train)
cat_preds = cat_model.predict(X_test)
print("CatBoost Accuracy:", accuracy_score(y_test, cat_preds))

CatBoostError: Bad value for num_feature[non_default_doc_idx=0,feature_idx=1]="male": Cannot convert 'male' to float